@import "const.css";

.content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    z-index: 11;
    position: absolute;
}

.ensure_size {
    visibility: hidden;
    width: 100vw;
}

.gradient {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(#ffffff00 50%, var(--bg) 97%);
}

.bgred {
    width: 100vw;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation: fadeInOut ease-in-out 30s infinite;
    background-image: url("blue_red_final.jpg");
}

.bggreen {
    width: 100vw;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation: fadeOutIn ease-in-out 30s infinite;
    background-image: url("blue_green_final.jpg");
}

@keyframes fadeOutIn {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@keyframes fadeInOut {
    0% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}

@media only screen and (max-width: var(--xlscreen)) {
    #content {
        top: 1vh;
    }
}

@media only screen and (min-width: var(--xlscreen)) {
    #content {
        top: 10vh;
    }
}
