@import "const.css";

.content {
    padding-left: 10vw;
    padding-right: 10vw;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    z-index: 11;
    position: absolute;
}

#content {
    top: 100px;
}

.ensure_size {
    visibility: hidden;
    width: 100vw;
    height: 100vh;
}

.gradient {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(#ffffff00 50%, var(--bg) 97%);
}

.bgred {
    max-width: 100vw;
    max-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    animation: fadeInOut ease-in-out 30s infinite;
    background-image: url("blue_red_final.jpg");
}

.bggreen {
    max-width: 100vw;
    max-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    animation: fadeOutIn ease-in-out 30s infinite;
    background-image: url("blue_green_final.jpg");
}

@keyframes fadeOutIn {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@keyframes fadeInOut {
    0% {
        opacity:0;
    }
    50% {
        opacity:1;
    }
    100% {
        opacity:0;
    }
}
