:root {
  --bg: #1B1C1D;
  --accent: #009DF7;
  --text: #EFFBFF;
  --primary: #223340;
  --xlscreen: 1000px;
}

*, body, html {
  background-color: var(--bg);
  margin: 0;
  padding: 0;
  font-family: 'Cinzel', serif;
  color: #EFFBFF;
  overflow-x: hidden;
}