span, input {
    z-index: 15;
    overflow: hidden;
    font-weight: lighter;
    background-color: #ffffff00;

}

.flexbox {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.flexInput {
    padding-left: 5px;
    padding-right: 5px;

}

input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    outline: none;
    appearance: none;
    border-bottom: 2px solid #EFFBFF;
}