.content-container {
    height: 100%;
    font-size: medium;
    z-index: 15;
    padding: 1vw;
    font-weight: lighter;
    background-color: #ffffff00;
}

div {
    font-size: medium;
    font-weight: lighter;
    background-color: #ffffff00;
}
