@import "../../const.css";


.content-container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-size: medium;
    z-index: 15;
    top: 100px;
    padding: 10px;
    font-weight: lighter;
    background-color: #ffffff00;
}