@import "../../const.css";

h1, h2 {
    z-index: 15;
    overflow: hidden;
    font-weight: lighter;
    background-color: #ffffff00;
    padding: 1vw 1vw 25vh;
}

h1 {
    font-size: xx-large;
}
h2 {
    font-size: x-large;
}
