@import "../../const.css";

h1, h2 {
    z-index: 15;
    overflow: hidden;
    font-weight: lighter;
    background-color: #ffffff00;
    padding-bottom: 10vh;
    padding-top: 5vh;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

.impressum {
    background-color: transparent;
    padding: 5px;
    position: absolute;
    font-size: small;
    top: 0;
    left:0;
}
