@import "../../../const.css";
.label {
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    text-align: left;
}

.options {
    max-height: 35vh;
    overflow-y: auto;
    top: 100%;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 9999;
    box-shadow: 0px 1px 2px 0px  #EFFBFF ;
}
.options div {
    font-size: x-large;
    padding: 2px;
    border-bottom: 1px solid var(--text);
    color: var(--text);
    background-color: var(--bg);
    cursor: pointer;
}

.options div:hover {
    color: var(--bg);
    background-color: var(--text);
}

.textfield {
    display: inline-block;
    position: relative;
    flex-grow: 1;
    left:0;
    right: 0;
    margin: 0;
    padding: 0;
}

span {
    flex-grow: 0.2;
    font-weight: lighter;
    background-color: #ffffff00;
}

input {
    flex-grow: 1;
    width: 100%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    outline: none;
    appearance: none;
    border-bottom: 2px solid #EFFBFF;
    font-weight: lighter;
    background-color: #ffffff00;
}

.help {
    width: 16pt;
    height: 16pt;
    z-index: 20;
    background-color: var(--primary) ;
    text-align: center;
    font-size: 12pt;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-decoration: none;
    border-radius: 100px;
}

.help:hover {
    background-color: var(--accent) ;
    width: 18pt;
    height: 18pt;
}
