select {
    padding: 5px;
    border: none;
    outline: 0;
    background-color: transparent;
    border-bottom:  1px solid #EFFBFF;
}

select > option {
    background-color: #223340;
    border: 0;
    outline: 0;
}